# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/
*_env/
*env/

# Jupyter
.ipynb_checkpoints/

# Generated outputs / models
*.pkl
*.h5
*.pt
*.pth
*.tsv
*.sqlite3
*.db
*.mp4
*.MOV
submission.csv
**/submission.csv
**/sample_submission.csv
data/favorita-grocery-sales-forecasting/train.csv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
